@import '../../scss/variables/_colors.css';

.square {
  background: $white;
  border: 1px solid $dusty-gray;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;

  &:focus {
   outline: none;
  }
}
