@import '../../scss/variables/_colors.css';

.body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.moveList {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.kbd-navigation .square:focus {
  background: $alto;
}

.game {
  display: flex;
  flex-direction: row;
}

.gameInfo {
  margin-left: 20px;
}
